html{
	scroll-behavior: smooth;
}
body{
	background-image: url("../img/goth.jpg");
	margin: 0 auto;
	padding: 0 ;
	background-attachment:fixed ;
	
	
#nav{
	margin: 150px 0px 70px 0px;
	padding: 10px;
	text-align: center;
}
#nav a{
	padding: 5px 40px;
 	text-align: center;
	font-size: 30px;
	font-weight: 200px;
	color: skyblue;
	text-shadow: 0 0 10px orange, 0 0 20px orange, 0 0 40px orange, 0 0 80px orange;
 }
 #nav a:hover{
 	background-color:darkred;
 
}
#content{
	background-image: url('../img/DN.gif');
	background-repeat: no-repeat;
	background-size:cover ;
	border: 40px;
	margin: 0px 0px 0px 500px;
	padding: 50px;
	height: 300px;
	width: 200px;
}

.hi{
	margin: 20px;
	padding: 30px;
	text-align: center;
	font-size: 40px;
	font-weight: 600px;
	color: skyblue;
	text-shadow: 0 0 10px whitesmoke, 0 0 20px whitesmoke, 0 0 40px whitesmoke, 0 0 80px whitesmoke;
	animation-name: animatingtext;
	animation-duration: 2000ms;
	animation-iteration-count: infinite;
}
@keyframes  animatingtext{
	0% { color:olive; }
	10% {color: greenyellow;}
	20% {color: burlywood;}
	40% {color: darkorange;}
	60% {color: deepskyblue;}
	70% {color: blueviolet;}
	80% {color: red}
	100% {color: blue}
 }
#content label {
	padding: 30px;
	margin: 35px;
	color: red;
	font-size: 30px;
	text-shadow: 0px 0px 10px mediumvioletred,
					0px 0px 20px mediumvioletred,
					0px 0px 40px mediumvioletred,
					0px 0px 80px lightgoldenrodyellow;

}